// Colors
$clr1: #1b2330;
$clr2: #41b2d0;
$clr3: #0b1524;
$clr4: #202a3c;;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;